// RESET --------------------------------------------------------

html, body {
	margin: 0 auto;
	padding: 0;
}

// FONT --------------------------------------------------------

$Raleway: 'Raleway', 'Andale Mono', sans-serif;
$SourceCode: 'Source Code Pro', 'Georgia', serif;
$normal: 400;
$bold: 800;


// COLOR --------------------------------------------------------

$black: #2a2a2a;
$white: #fff;

$color-1: #ea1842;